<configuration>
	
  <configSections>
    <sectionGroup name="yttrium">
      <section name="packages" type="MathNet.Symbolics.Library.PackagesSectionHandler, MathNet.Yttrium.Library.Service" />
    </sectionGroup>
  </configSections>
	
  <yttrium>
    <packages>

		<package domain="Std" default="true" comment="Standard Package" manager="MathNet.Symbolics.Packages.Standard.StdPackageManager, MathNet.Yttrium.Packages.Standard" />
		<package domain="PetriNet" default="false" comment="PetriNet Package" manager="MathNet.Symbolics.Packages.PetriNet.PetriNetPackageManager, MathNet.Yttrium.Packages.PetriNet" />

	</packages>
  </yttrium>
	
</configuration>