<configuration>
	
  <configSections>
    <sectionGroup name="yttrium">
      <section name="objects" type="MathNet.Symbolics.Backend.Mapping.MappingsSectionHandler, MathNet.Yttrium.Microkernel" />
    </sectionGroup>
  </configSections>
	
  <yttrium>
    <objects>
		
		<object id="Core.Signal" comment="CORE: Yttrium Signal" contract="MathNet.Symbolics.Signal, MathNet.Yttrium.Contracts" factory="MathNet.Symbolics.CoreFactory, MathNet.Yttrium" />
		<object id="Core.Bus" comment="CORE: Yttrium Bus" contract="MathNet.Symbolics.Bus, MathNet.Yttrium.Contracts" factory="MathNet.Symbolics.CoreFactory, MathNet.Yttrium" />
		<object id="Core.Port" comment="CORE: Yttrium Port" contract="MathNet.Symbolics.Port, MathNet.Yttrium.Contracts" factory="MathNet.Symbolics.CoreFactory, MathNet.Yttrium" />
		<object id="Core.MathSystem" comment="CORE: Yttrium MathSystem" contract="MathNet.Symbolics.IMathSystem, MathNet.Yttrium.Contracts" factory="MathNet.Symbolics.CoreFactory, MathNet.Yttrium" />
		
		<object id="Conversion.Router" comment="CONVERSION: Value Conversion Router" contract="MathNet.Symbolics.Conversion.IConversionRouter, MathNet.Yttrium.Conversion.Contracts" factory="MathNet.Symbolics.ConversionFactory, MathNet.Yttrium.Conversion.Service" />
		
		<object id="Library.Library" comment="LIBRARY: Library" contract="MathNet.Symbolics.Library.ILibrary, MathNet.Yttrium.Library.Contracts" factory="MathNet.Symbolics.LibraryFactory, MathNet.Yttrium.Library.Service" />
		<object id="Library.PackageLoader" comment="LIBRARY: Package Loader" contract="MathNet.Symbolics.Library.IPackageLoader, MathNet.Yttrium.Library.Contracts" factory="MathNet.Symbolics.LibraryFactory, MathNet.Yttrium.Library.Service" />
		
		<object id="Builder.Builder" comment="BUILDER: Builder" contract="MathNet.Symbolics.IBuilder, MathNet.Yttrium.Contracts" factory="MathNet.Symbolics.BuilderFactory, MathNet.Yttrium.Builder.Service" />

		<object id="Interpreter.Parser" comment="INTERPRETER: Parser" contract="MathNet.Symbolics.Interpreter.IParser, MathNet.Yttrium.Interpreter.Contracts" factory="MathNet.Symbolics.InterpreterFactory, MathNet.Yttrium.Interpreter.Service" />

		<object id="Simulation.SimulationMediator" comment="SIMULATION: Simulation Mediator" contract="MathNet.Symbolics.Simulation.ISimulationMediator, MathNet.Yttrium.Simulation.Contracts" factory="MathNet.Symbolics.SimulationFactory, MathNet.Yttrium.Simulation.Service" />
		
		<object id="Traversing.Scanner" comment="TRAVERSING: Scanner" contract="MathNet.Symbolics.Traversing.IScanner, MathNet.Yttrium.Traversing.Contracts" factory="MathNet.Symbolics.VisitorFactory, MathNet.Yttrium.Traversing.Service" />

		<object id="Traversing.AllStrategy" comment="TRAVERSING: Strategy: All" contract="MathNet.Symbolics.Traversing.IScanStrategy, MathNet.Yttrium.Traversing.Contracts" factory="MathNet.Symbolics.AllStrategyFactory, MathNet.Yttrium.Traversing.Service" />
		<object id="Traversing.AllSignalsStrategy" comment="TRAVERSING: Strategy: All Signals" contract="MathNet.Symbolics.Traversing.IScanStrategy, MathNet.Yttrium.Traversing.Contracts" factory="MathNet.Symbolics.AllSignalsStrategyFactory, MathNet.Yttrium.Traversing.Service" />
		<object id="Traversing.AllPortsStrategy" comment="TRAVERSING: Strategy: All Ports" contract="MathNet.Symbolics.Traversing.IScanStrategy, MathNet.Yttrium.Traversing.Contracts" factory="MathNet.Symbolics.AllPortsStrategyFactory, MathNet.Yttrium.Traversing.Service" />
		<object id="Traversing.AllSpanningTreeStrategy" comment="TRAVERSING: Strategy: All Spanning Tree" contract="MathNet.Symbolics.Traversing.IScanStrategy, MathNet.Yttrium.Traversing.Contracts" factory="MathNet.Symbolics.AllSpanningTreeStrategyFactory, MathNet.Yttrium.Traversing.Service" />
		<object id="Traversing.AllPathsStrategy" comment="TRAVERSING: Strategy: All Paths" contract="MathNet.Symbolics.Traversing.IScanStrategy, MathNet.Yttrium.Traversing.Contracts" factory="MathNet.Symbolics.AllPathsStrategyFactory, MathNet.Yttrium.Traversing.Service" />

		<object id="Traversing.ExistsSignalVisitor" comment="TRAVERSING: Visitor: Exists Signal" contract="MathNet.Symbolics.Traversing.IExistsSignalVisitor, MathNet.Yttrium.Traversing.Contracts" factory="MathNet.Symbolics.VisitorFactory, MathNet.Yttrium.Traversing.Service" />
		<object id="Traversing.ExistsPortVisitor" comment="TRAVERSING: Visitor: Exists Port" contract="MathNet.Symbolics.Traversing.IExistsPortVisitor, MathNet.Yttrium.Traversing.Contracts" factory="MathNet.Symbolics.VisitorFactory, MathNet.Yttrium.Traversing.Service" />
		<object id="Traversing.TrueForAllSignalsVisitor" comment="TRAVERSING: Visitor: True For All Signals" contract="MathNet.Symbolics.Traversing.ITrueForAllSignalsVisitor, MathNet.Yttrium.Traversing.Contracts" factory="MathNet.Symbolics.VisitorFactory, MathNet.Yttrium.Traversing.Service" />
		<object id="Traversing.TrueForAllPortsVisitor" comment="TRAVERSING: Visitor: True for all Ports" contract="MathNet.Symbolics.Traversing.ITrueForAllPortsVisitor, MathNet.Yttrium.Traversing.Contracts" factory="MathNet.Symbolics.VisitorFactory, MathNet.Yttrium.Traversing.Service" />
		<object id="Traversing.SignalPathCollectVisitor" comment="TRAVERSING: Visitor: Signal Path Collect" contract="MathNet.Symbolics.Traversing.ISignalPathCollectVisitor, MathNet.Yttrium.Traversing.Contracts" factory="MathNet.Symbolics.VisitorFactory, MathNet.Yttrium.Traversing.Service" />
		<object id="Traversing.PortPathCollectVisitor" comment="TRAVERSING: Visitor: Port Path Collect" contract="MathNet.Symbolics.Traversing.IPortPathCollectVisitor, MathNet.Yttrium.Traversing.Contracts" factory="MathNet.Symbolics.VisitorFactory, MathNet.Yttrium.Traversing.Service" />
		
		<object id="Traversing.CollectVisitor" comment="TRAVERSING: Visitor: Collect" contract="MathNet.Symbolics.Traversing.ICollectVisitor, MathNet.Yttrium.Traversing.Contracts" factory="MathNet.Symbolics.VisitorFactory, MathNet.Yttrium.Traversing.Service" />
		<object id="Traversing.ConditionalCollectVisitor" comment="TRAVERSING: Visitor: Conditional Collect" contract="MathNet.Symbolics.Traversing.ICollectVisitor, MathNet.Yttrium.Traversing.Contracts" factory="MathNet.Symbolics.VisitorFactory, MathNet.Yttrium.Traversing.Service" />
		
		<object id="Traversing.SignalActionVisitor" comment="TRAVERSING: Visitor: Signal Action" contract="MathNet.Symbolics.Traversing.IScanVisitor, MathNet.Yttrium.Traversing.Contracts" factory="MathNet.Symbolics.VisitorFactory, MathNet.Yttrium.Traversing.Service" />
		<object id="Traversing.PortActionVisitor" comment="TRAVERSING: Visitor: Port Action" contract="MathNet.Symbolics.Traversing.IScanVisitor, MathNet.Yttrium.Traversing.Contracts" factory="MathNet.Symbolics.VisitorFactory, MathNet.Yttrium.Traversing.Service" />
		<object id="Traversing.SignalConditionalActionVisitor" comment="TRAVERSING: Visitor: Signal Conditional Action" contract="MathNet.Symbolics.Traversing.IScanVisitor, MathNet.Yttrium.Traversing.Contracts" factory="MathNet.Symbolics.VisitorFactory, MathNet.Yttrium.Traversing.Service" />
		<object id="Traversing.PortConditionalActionVisitor" comment="TRAVERSING: Visitor: Port Conditional Action" contract="MathNet.Symbolics.Traversing.IScanVisitor, MathNet.Yttrium.Traversing.Contracts" factory="MathNet.Symbolics.VisitorFactory, MathNet.Yttrium.Traversing.Service" />
		
		<object id="Traversing.BasicVisitor" comment="TRAVERSING: Visitor: Basic" contract="MathNet.Symbolics.Traversing.IScanVisitor, MathNet.Yttrium.Traversing.Contracts" factory="MathNet.Symbolics.VisitorFactory, MathNet.Yttrium.Traversing.Service" />

		<object id="Manipulation.Manipulator" comment="MANIPULATION: Manipulator" contract="MathNet.Symbolics.Manipulation.IManipulator, MathNet.Yttrium.Manipulation.Contracts" factory="MathNet.Symbolics.ManipulationFactory, MathNet.Yttrium.Manipulation.Service" />
		<object id="Manipulation.Transformer" comment="MANIPULATION: Transformer" contract="MathNet.Symbolics.Manipulation.ITransformer, MathNet.Yttrium.Manipulation.Contracts" factory="MathNet.Symbolics.ManipulationFactory, MathNet.Yttrium.Manipulation.Service" />
		<object id="Manipulation.TransformationTheoremProvider" comment="MANIPULATION: Transformation Theorem Provider" contract="MathNet.Symbolics.Manipulation.ITransformationTheoremProvider, MathNet.Yttrium.Manipulation.Contracts" factory="MathNet.Symbolics.ManipulationFactory, MathNet.Yttrium.Manipulation.Service" />

		<object id="Repository.SignalCache" comment="REPOSITORY: Signal Cache" contract="MathNet.Symbolics.Repository.ISignalCache, MathNet.Yttrium.Repository.Contracts" factory="MathNet.Symbolics.RepositoryFactory, MathNet.Yttrium.Repository.Service" />

		<object id="Mediator.Mediator" comment="MEDIATOR: Mediator" contract="MathNet.Symbolics.Mediator.IMediator, MathNet.Yttrium.Mediator.Contracts" factory="MathNet.Symbolics.MediatorFactory, MathNet.Yttrium.Mediator.Service" />
		<object id="Mediator.SystemMediator" comment="MEDIATOR: System Mediator" contract="MathNet.Symbolics.Mediator.ISystemMediator, MathNet.Yttrium.Mediator.Contracts" factory="MathNet.Symbolics.MediatorFactory, MathNet.Yttrium.Mediator.Service" />
		
	</objects>
  </yttrium>
	
</configuration>